#downstream-dashboard {
	padding: 1px;

	background-color: white;
	background-image: url('http://images4.wikia.nocookie.net/__cb20100514134207/starwars/images/c/c3/MCQ-cloudcity.jpg');
	background-attachment: fixed;
	z-index: 1000;
}

#downstream-dashboard .table {
	background-color: rgba(0, 0, 0, .5);
	border-radius: 10px;

	padding-top: 13px;
	padding-bottom: 25px;
	padding-left: 40px;
	padding-right: 40px;

	margin-top: 15px;
	margin-bottom: 25px;
	margin-left: auto;
	margin-right: auto;
	max-width: 80%;
}

#downstream-dashboard .table h1 {
	color: #FFF
}

#downstream-dashboard .table .run {
	background-color: white;
	border: 1px solid black;
	border-radius: 3px;
	display: inline-block;
	height: 50px;
	padding: 4px;
	margin: 2px;
	width: 120px;
}

#downstream-dashboard .table .row {
	border-bottom: 1px dotted white;
	padding-bottom: 3px;
	margin-top: 3px;
	margin-left: auto;
	margin-right: auto;
}

#downstream-dashboard .table .row:last-child {
	border-bottom: none;
}

#downstream-dashboard .table .run .failures,
#downstream-dashboard .table .run .fullDisplayName {
	display: inline-block;
	width: 100%;
	text-align: center;
	text-decoration: none;
}

#downstream-dashboard .table .run .failures:hover,
#downstream-dashboard .table .run .fullDisplayName:hover {
	text-decoration: underline;
}

#downstream-dashboard .table .run .fullDisplayName {
	font-weight: 700;
	text-decoration: underline;
}

#downstream-dashboard .table .run {
	position: relative;
}

#downstream-dashboard .table .run.running-false .building-indicator {
	display: none;
}

#downstream-dashboard .table .run.running-true .building-indicator {
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;

	bottom: 5px;
	right: 5px;
	width: 12px;
	height: 12px;
	z-index: 1050;
}

#downstream-dashboard .table .run {
	background: #ffffff; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #ffffff 70%, #afafaf 100%);
	background: -webkit-radial-gradient(center, ellipse cover,  #ffffff 70%,#afafaf 100%);
	background: radial-gradient(ellipse at center,  #ffffff 70%,#afafaf 100%); /* W3C */
}

#downstream-dashboard .table .run:hover {
	border-color: #afafaf;
	box-shadow: 0px 0px 15px 5px #afafaf;
	z-index: 1100;

	background: #ffffff; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #ffffff 60%, #afafaf 100%);
	background: -webkit-radial-gradient(center, ellipse cover,  #ffffff 60%,#afafaf 100%);
	background: radial-gradient(ellipse at center,  #ffffff 60%,#afafaf 100%); /* W3C */
}

#downstream-dashboard .table .run.FAILURE {
	background: #ffffff; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #ffffff 70%, #ff1c1c 100%);
	background: -webkit-radial-gradient(center, ellipse cover,  #ffffff 70%,#ff1c1c 100%);
	background: radial-gradient(ellipse at center,  #ffffff 70%,#ff1c1c 100%);
}

#downstream-dashboard .table .run.FAILURE:hover {
	border-color: #ff1c1c;
	box-shadow: 0px 0px 15px 5px #ff1c1c;

	background: #ffffff; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #ffffff 60%, #ff1c1c 100%);
	background: -webkit-radial-gradient(center, ellipse cover,  #ffffff 60%,#ff1c1c 100%);
	background: radial-gradient(ellipse at center,  #ffffff 60%,#ff1c1c 100%);
}

#downstream-dashboard .table .run.UNSTABLE {
	background: #ffffff; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #ffffff 70%, #ffb200 100%);
	background: -webkit-radial-gradient(center, ellipse cover,  #ffffff 70%,#ffb200 100%);
	background: radial-gradient(ellipse at center,  #ffffff 70%,#ffb200 100%);
}

#downstream-dashboard .table .run.UNSTABLE:hover {
	border-color: #ffb200;
	box-shadow: 0px 0px 15px 5px #ffb200;

	background: #ffffff; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #ffffff 60%, #ffb200 100%);
	background: -webkit-radial-gradient(center, ellipse cover,  #ffffff 60%,#ffb200 100%);
	background: radial-gradient(ellipse at center,  #ffffff 60%,#ffb200 100%);
}

#downstream-dashboard .table .run.SUCCESS {
	background: #ffffff; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #ffffff 70%, #1cff1c 100%);
	background: -webkit-radial-gradient(center, ellipse cover,  #ffffff 70%,#1cff1c 100%);
	background: radial-gradient(ellipse at center,  #ffffff 70%,#1cff1c 100%);
}

#downstream-dashboard .table .run.SUCCESS:hover {
	border-color: #1cff1c;
	box-shadow: 0px 0px 15px 5px #1cff1c;

	background: #ffffff; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #ffffff 60%, #1cff1c 100%);
	background: -webkit-radial-gradient(center, ellipse cover,  #ffffff 60%,#1cff1c 100%);
	background: radial-gradient(ellipse at center,  #ffffff 60%,#1cff1c 100%);
}

#downstream-dashboard .table .run .failureCount {
	visibility: hidden;
}

#downstream-dashboard #toolbar {
	color: white;
	position: absolute;
	top: 5px;
	right: 5px;
	padding-right: 5px;
}

#viewList * {
	background-color: black !important;
	color: white !important;
}

#viewList .active {
	background-color: #333 !important;
	color: #EEE !important;
	font-weight: normal !important;
	font-size: 1.2em;
}

body {
	background-color: black;
	padding-top: 4px;
}

#main-panel {
	padding: 0;
}

#view-message,
#top-panel,
#top-nav,
#footer,
#side-panel {
	display: none;
}
